Package: redis-tcl
Version: 0.1-1
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: redis-server, tcl
Installed-Size: 48
Maintainer: Robert McLeod <robert@autogrow.com>
Homepage: https://git.autogrow.com/multi/redis-tcl
Description: TCL library for interfacing with Redis
  TCL library for interfacing with Redis
